.acme-navbar-text{
  color: white;
}

a {
  text-decoration: none;
  color: rgba(255,255,255,0.87);
  margin: 5px;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: #5aadbb;
}
